// 页脚
.foot {
  width: 100%;
  .common-wrapper {
    display: flex;
    align-items: center;
  }
  .text {
    width: 300px;
    line-height: 60px;
  }
}

.mobile-bottom {
  display: none;
}

.search-box {
  background-color: $mainColor;
  height: 60px;
}

.search-input {
  flex: 1;
  display: flex;
  input {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    outline: none;
  }
  .seatxt {
    padding-left: 10px;
    flex: 1;
    border: 1px solid #e5e5e5;
  }
  .stbn {
    width: 226px;
    background-color: #000;
    color: $mainColor;
    border: none;
    cursor: pointer;
  }
}

.foot-list {
  height: 380px;
  box-sizing: border-box;
  background-color: #000;
}

.foot-l {
  width: 100%;
  height: 100%;
  display: flex;
  .foot-u {
    margin-top: 30px;
    li {
      margin: 20px 0;
      a {
        transition: all ease 0.3s;
        color: #eee;
        opacity: 0.6;
        font-size: 14px;
        line-height: 1.3;
        &::before {
          position: relative;
          top: -2px;
          content: "-";
          margin-right: 10px;
        }
        &:hover {
          color: #fff;
          opacity: 1;
          padding-left: 10px;
        }
      }
    }
  }
  .lfr {
    margin-top: 30px;
    display: flex;
    li {
      margin-right: 10px;
    }
  }
}

.foot-item {
  padding-top: 30px;
  height: 100%;
  width: 25%;
}

.foot-title {
  font-size: 18px;
  font-weight: bold;
  color: $mainColor;
}

.foot-code {
  padding-left: 100px;
}

.foot-nav,
.foot-cate {
  padding-left: 100px;
  ul {
    margin-top: 30px;
    li {
      margin: 10px 0;
      a {
        transition: all ease 0.3s;
        color: #eee;
        font-size: 14px;
        opacity: 0.6;
        line-height: 1.3;
        &::before {
          position: relative;
          top: -2px;
          content: "-";
          margin-right: 10px;
        }
        &:hover {
          color: #fff;
          opacity: 1;
          padding-left: 10px;
        }
      }
    }
  }
}

.foot-right {
  width: 100%;
  height: 58px;
  background-color: #111;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-img {
  margin-top: 30px;
  img {
    max-width: 140px;
  }
}