// 页头
.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  z-index: 9;
  background-color: #fff;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  max-width: 1920px;
  margin: 0 auto;
  &-wrapper {
    width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-logo {
    width: 160px;
    height: 100%;
  }
  &-nav {
    height: 100%;
    margin-left: auto;
    & > ul {
      height: 100%;
      display: flex;
      & > li {
        position: relative;
        height: 100%;
        & > a {
          transition: color ease 0.3s;
          transition: background-color ease 0.3s;
          padding: 0 20px;
          height: 100%;
          display: flex;
          font-weight: bold;
          align-items: center;
          justify-content: center;
        }
        .inmenu_1,
        &:hover > a {
          color: $mainColor;
        }
      }
      .submenu {
        background-color: $mainColor;
        position: absolute;
        transform-origin: top;
        top: 100%;
        transition: all 0.4s ease;
        transform: rotateX(90deg);
        opacity: 0;
        a {
          display: block;
          padding: 0 20px;
          line-height: 40px;
          white-space: nowrap;
          transition: all ease 0.4s;
          &:hover {
            background-color: #000;
            color: $mainColor;
          }
        }
      }
    }
  }
}

.nav-btn {
  display: none;
  position: relative;
  margin: auto 0;
  height: vm(32);
  width: vm(45);
  span {
    border-radius: 2px;
    position: absolute;
    display: block;
    width: vm(45);
    height: vm(5);
    background-color: #000;
    -webkit-transition: top 0.2s 0.2s, background 0.2s, opacity 0s 0.2s, -webkit-transform 0.2s;
    transition: top 0.2s 0.2s, background 0.2s, opacity 0s 0.2s, -webkit-transform 0.2s;
    transition: top 0.2s 0.2s, transform 0.2s, background 0.2s, opacity 0s 0.2s;
    transition: top 0.2s 0.2s, transform 0.2s, background 0.2s, opacity 0s 0.2s, -webkit-transform 0.2s;

    &:nth-child(1) {
      top: vm(0.75);
    }
    &:nth-child(2) {
      top: vm(16);
    }
    &:nth-child(3) {
      top: vm(32);
    }
  }
}

.toggle-animate {
  span {
    &:nth-of-type(1) {
      top: vm(12);
      transform: rotate(45deg);
      transition: top 0.2s, transform 0.2s 0.2s, background 0.2s;
    }
    &:nth-of-type(2) {
      opacity: 0;
      transition: opacity 0.2s;
    }
    &:nth-of-type(3) {
      top: vm(12);
      transform: rotate(-45deg);
      transition: bottom 0.2s, transform 0.2s 0.2s, background 0.2s;
    }
  }
}
