@charset "utf-8";

// PC端
@media (min-width: 1281px) and (max-width: 1520px) {
  .news-detail-content {
    padding: 0 100px;
    .news-title {
      font-size: 24px;
    }
  }
}

@media (min-width: 1081px) and (max-width: 1280px) {
  .news-detail-content {
    padding: 0 50px;
    .news-title {
      font-size: 20px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1081px) {
  .news-detail-content {
    padding: 0 25px;
    .news-title {
      font-size: 18px;
    }
  }
}

// 移动端
@media screen and (max-width: 768px) {
  .news-detail-content {
    margin: vm(100) 0;
    padding: 0 vm(50);
    .news-title {
      padding: 0;
      font-size: vm(30);
      line-height: vm(40);
    }
    .news-date {
      margin: vm(30) 0;
      line-height: vm(48);
    }
    article {
      p {
        margin-top: vm(30);
        line-height: vm(34);
        &:nth-of-type(1) {
          margin-top: 0;
        }
      }
    }
    span.line {
      margin: vm(50) 0;
    }
    .pages-list {
      div,
      span,
      a {
        line-height: vm(40);
        font-size: vm(30);
      }
      div {
        margin-top: vm(20);
      }
    }
  }
}
