@charset "utf-8";

@media (min-width: 1281px) and (max-width: 1520px) {
  .common-container {
    .video-content {
      margin: 0 100px;
    }
  }
}

@media (min-width: 1081px) and (max-width: 1280px) {
  .common-container {
    .video-content {
      margin: 0 50px;
    }
  }
}

@media (min-width: 769px) and (max-width: 1081px) {
  .common-container {
    .video-content {
      margin: 0 25px;
    }
  }
}

// 移动端
@media screen and (max-width: 768px) {
  .common-container {
    .video-content {
      margin: 0 vm(50);
      .video-list {
        margin: vm(50) 0;
        li {
          height: vm(240);
          padding: 0 vm(40);
          margin-bottom: vm(50);
          .video-img {
            display: none;
          }
          .video-info {
            .video-date {
              font-size: vm(30);
              line-height: vm(34);
              transform: scale(0.8);
              position: relative;
              left: vm(-55);
            }
            .video-title {
              margin: vm(10) 0;
              a {
                font-size: vm(34);
                line-height: vm(36);
              }
            }
            .video-text {
              margin: 0;
              margin-bottom: vm(10);
              a {
                font-size: vm(30);
                line-height: vm(34);
              }
            }
            .more-btn {
              font-size: vm(30);
              position: relative;
              i {
                position: absolute;
                top: 1.2px;
                left: vm(160);
                transform: scale(1.2);
              }
            }
          }
        }
      }
      .video-list-2 {
        margin: vm(50) 0;
        justify-content: space-between;
        li {
          margin-bottom: vm(50);
          width: 46%;
          margin-right: vm(30);
          &:nth-of-type(3n) {
            margin-right: vm(30);
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          .video-info {
            .video-date {
              line-height: vm(24);
              font-size: vm(24);
            }
            .video-title {
              margin-top: vm(10);
              a {
                font-size: vm(30);
                line-height: vm(32);
              }
            }
            .video-text {
              margin: vm(20) 0;
              a {
                font-size: vm(25);
                line-height: vm(30);
                @include linef(2);
              }
            }
          }
        }
      }
    }
  }
}
