<div class="compare-panel">
  <div class="button-area">
    <button class="contact-button">Contact Supplier (<span class="compare-checked">0</span> / 5)</button>
    <div class="clear-all">Clear All</div>
    <div class="close">
      <i class="ic-close"></i>
    </div>
  </div>
  <div class="list-wrapper">
    <div class="cart-list">
      <div id="productChache_listPC">
      </div>
    </div>
  </div>
</div>