<footer class="foot">
  <div class="top-btn">
    <i class="iconfont icon-angle-up" aria-hidden="true"></i>
  </div>
  <div class="search-box">
    <div class="common-wrapper">
      <div class="text">Please enter what you want to search</div>
      <div class="search-input">
        <input type="text" name="btnSearch" id="txtSearch" class="seatxt" placeholder="Keyword">
        <input type="submit" name="txtSearch" id="btnSearch" class="stbn" value="Search" onclick="PSearch()">
      </div>
    </div>
  </div>
  <div class="foot-list">
    <div class="common-wrapper">
      <div class="foot-l">
        <div class="foot-item">
          <p class="foot-title">Contact Us</p>
          <ul class="foot-u">
            <li>
              <a href="#">Tel: +86-515-88856689</a>
            </li>
            <li>
              <a href="#">Fax: +86-515-88722800</a>
            </li>
            <li>
              <a href="#">E-mail:xumei@jhbxg99.com</a>
            </li>
            <li>
              <a href="#">Add: Yandu District, Yancheng City, Jiangsu
                Province, China.</a>
            </li>
          </ul>
          <ul class="lfr">
            <li>
              <a href="http://m221.seo.com.cn/" rel="nofollow" target="_blank">
                <img src="http://m221.seo.com.cn/images/Common/Facebook1.png">
              </a>
            </li>
            <li>
              <a href="http://m221.seo.com.cn/" rel="nofollow" target="_blank">
                <img src="http://m221.seo.com.cn/images/Common/Twitter1.png"></a>
            </li>
            <li>
              <a href="http://m221.seo.com.cn/" rel="nofollow" target="_blank">
                <img src="http://m221.seo.com.cn/images/Common/GooglePlus1.png"></a>
            </li>
            <li>
              <a href="http://m221.seo.com.cn/" rel="nofollow" target="_blank">
                <img src="http://m221.seo.com.cn/images/Common/Linkedin1.png"></a>
            </li>
            <li>
              <a href="http://m221.seo.com.cn/" rel="nofollow" target="_blank">
                <img src="http://m221.seo.com.cn/images/Common/Pinterest1.png"></a>
            </li>
            <li>
              <a href="http://m221.seo.com.cn/" rel="nofollow" target="_blank">
                <img src="http://m221.seo.com.cn/images/Common/youtube1.png"></a>
            </li>
          </ul>
        </div>
        <div class="foot-item foot-nav">
          <p class="foot-title">Quick Navigation</p>
          <ul>
            <li id="li_Menu101_MainHome"> <a href="http://www.m221.seo.com.cn">Main Page</a></li>
            <li id="li_Menu101_about-us"> <a href="http://m221.seo.com.cn/about-us" class="inmenu">About Us</a></li>
            <li id="li_Menu101_products"> <a href="http://m221.seo.com.cn/products" class="inmenu">Products</a></li>
            <li id="li_Menu101_newslist-1"> <a href="http://m221.seo.com.cn/newslist-1" class="inmenu">News</a></li>
            <li id="li_Menu101_Info"> <a href="http://m221.seo.com.cn/info/" class="inmenu">Knowledges</a></li>
            <li id="li_Menu101_contact-us"> <a href="http://m221.seo.com.cn/contact-us" class="inmenu">Contact Us</a>
            </li>
            <li id="li_Menu101_inquiry"> <a href="http://m221.seo.com.cn/inquiry" class="inmenu">Feedback</a></li>
            <li id="li_Menu101_sitemap"><a href="/sitemap.xml">Sitemap</a></li>
          </ul>
        </div>
        <div class="foot-item foot-cate">
          <p class="foot-title">Products</p>
          <ul>
            <li class="side_nav1" id="HeadProCat1">
              <a href="http://m221.seo.com.cn/construction-machinery/">Construction Machinery</a>
            </li>
            <li class="side_nav1" id="HeadProCat2">
              <a href="http://m221.seo.com.cn/logistics-equipment/">Logistics
                Equipment</a>
            </li>
            <li class="side_nav1" id="HeadProCat3">
              <a href="http://m221.seo.com.cn/quotation/">Quotation</a>
            </li>
          </ul>
        </div>
        <div class="foot-item foot-code">
          <p class="foot-title">Qr Code</p>
          <div class="code-img">
            <img src="../images/common/qrcode.jpg" alt="code">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="foot-right">
    Copyright © Dshow Machinery Co.,Ltd All rights reserved.
  </div>
  <div class="mobile-bottom">
    <div class="mobile-bottom-item">
      <a href="/index.html">
        <i class="iconfont icon-home" aria-hidden="true"></i>
      </a>
    </div>
    <div class="mobile-bottom-item">
      <a href="#">
        <i class="iconfont icon-phone1" aria-hidden="true"></i>
      </a>
    </div>
    <div class="mobile-bottom-item">
      <a href="#">
        <i class="iconfont icon-envelope" aria-hidden="true"></i>
      </a>
    </div>
    <div class="mobile-bottom-item">
      <a href="/inquiry.html">
        <i class="iconfont icon-commenting" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>